
</div> <!-- ./container -->

<!-- Trailer Video Modal -->
<div class="modal fade" id="modal-trailer">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal close button -->
            <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true"><img src="images/close-button.png"></a>
            <!-- 16:9 aspect ratio -->
            <div id="trailer-container" class="embed-responsive embed-responsive-16by9">
            </div>
        </div>
    </div>
</div>

<!-- Movie Info Modal -->
<div class="modal fade" id="modal-movie-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2 class="text-center"></h2>
            <div class="row">
                <div class="col-xs-6">
                    <div class="cover-container">
                        <img class="cover" src="">
                        <div class="clearfix"></div>
                        <div class="rating" data-score=""></div>
                        <p class="movie-rating"></p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <p class="duration"></p>
                    <p class="genre"></p>
                    <p class="movie-rating rated"></p>
                    <p class="description"></p>
                </div>
            </div>
            <div class="btn-group pull-right">
                <button class="play-trailer btn btn-danger">Watch Trailer</button>
                <!-- Modal close button -->
                <button class="btn btn-primary" data-dismiss="modal" data-target="#modal-movie-info">Back</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-movie-cover" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal close button -->
        <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true"><img src="images/close-button.png"></a>
        <div class="modal-content">
            <img src="" class="cover img-responsive">
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="vendor/js/jquery.raty.js"></script>
<script src="js/app.js"></script>
</body>
</html>
