
<div class="tile-container col-sm-6 col-md-4">
    <h2>{title}</h2>
    <img class="tile-cover" src="{cover}" width="220" height="342">

    <div class="rating" data-score="{score}"></div>
    <div class="option-buttons" data-trailer-youtube-id="{youtube_id}">
        <button class="play-trailer btn btn-danger">Watch Trailer</button>
        <button class="more-info btn btn-primary">More Info</button>
    </div>
    <div class="hidden">
        <div class="description">{description}</div>
        <div class="genre">{genre}</div>
        <div class="duration">{duration}</div>
        <div class="movie-rating">{movie_rating}</div>
    </div>
</div>
